.carousel-1 {
  background: url('../images/kellyslater.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  
}

.carousel-2 {
  background: url('../images/maliamanuel.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  
}

.carousel-3 {
  background: url('../images/jakemarshall.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  
}

.carousel-4 {
  background: url('../images/eddie.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  
}

.carousel-5 {
  background: url('../images/Joyce_Hoffman.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  
}
.carousel-6 {
  background: url('../images/daize.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  
}

.banner {
  background: url('../images/header.jpg');
  background-size: cover;
  background-position: center;
  height: 200px;
  
}

img {
  height: 400px;
  width: 350px;
  
}