@(surfers: List[Surfer])

@import helper._
@import bootstrap3._

@Main("Home", surfers) {
   <div class="container">
  <div id="carousel-example-generic" class="carousel slide">
    
    <ol class="carousel-indicators">
    @for(index <- 0 to surfers.size()-1) {
          @if(index == 0) {
          <li data-target="#carousel-example-generic" data-slide-to="@index" class="active"></li>
          }else {
          <li data-target="#carousel-example-generic" data-slide-to="@index"></li>
          }
        }
    </ol>
    
    <div class="carousel-inner"> 
      @for(surfer <- surfers) {
        
        @if(surfers.indexOf(surfer) == 0) {
        <div class="item active">
        }else {
        <div class="item">
        }
        
          @carousel(surfer.name(),
                    surfer.carouselUrl())
        </div>
      }
  </div>
  
   <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="icon-next"></span>
  </a>
  </div>
  </div>
}
