@(message: String)

@Main("maliamanuel") {
   <div class="container row">
     <div class="col-md-4 well">
       <img src='@routes.Assets.at("images/maliamanuel.jpg")'>
     </div>
     <div class="col-md-8 well">
       <p>Surfing has been ingrained in Malia's blood since she was born. As a baby, her parents would take turns watching her on the sand while the other would catch waves on the beaches of Kauai. As soon as she turned two, Malia started surfing with them. Born and raised in the small lush town of Wailua, Kauai. Malia has been highly influenced by her culture. Her father is born and raised on Kauai and part Hawaiian, her mother is from Southern California, making Malia "hapa haole", she said laughing.</p>
       
       <p>At the age of 8, she began surfing in contests and fell in love with the surfing industry. "I never planned on being a professional surfer, it kind of chose me", says Malia. "I've been competing since I was 8 years old and to now be one of the 17 Women going for the World Title, seems pretty surreal still."</p>
     </div>
   
   </div>
}
