@(surfers: List[Surfer], surferForm : Form[views.formdata.SurferFormData], surferTypeMap : Map[String, Boolean], surferFootStyleMap : List[String], isEditing: Boolean)

@import helper._
@import bootstrap3._

@Main("NewSurfer", surfers) {
<div class="container">
<h1>New Surfer</h1>
   @form(routes.Application.postSurfer(), 'class -> "form-horizontal") {
          
        @text(surferForm("name"),
        label = "Name",
        placeholder = "",
        help = "The name of the surfer")
          
        @text(surferForm("home"),
        label = "Home",
        placeholder = "",
        help = "Where the surfer hails from")
        
        @text(surferForm("awards"),
        label = "Awards",
        placeholder = "",
        help = "List titles and other surfing awards")
        
        @radiobuttons(surferForm("footstyle"),
                      label = "Foot Style",
                      buttonNameList = surferFootStyleMap,
                      help = "Select This Surfer's Foot Style")
                      
        
        @text(surferForm("carouselUrl"),
        label = "Carousel URL",
        placeholder = "",
        help = "A URL to the picture to be presented in the home page carousel for this surfer")
        
        @text(surferForm("bioUrl"),
        label = "Bio URL",
        placeholder = "",
        help = "A URL to the picture to be presented in the bio page for this surfer")
        
        @textbox(surferForm("bio"),
        label = "Bio",
        help = "One paragraph description of this surfer")
        
        @if(isEditing) {
        
          @slug(surferForm("slug"),
          label = "Slug",
          placeholder = "",
          help = "Slug field cannot be edited for an existing surfer",
          isEditing = true)
          
        } else {
        
          @slug(surferForm("slug"),
          label = "Slug",
          placeholder = "",
          help = "Slug field cannot be edited for an existing surfer",
          isEditing = false)
        
        }
        
        @typeList(surferForm("type"),
        isMultiple = false,
        optionMap = surferTypeMap,
        help = "The type of surfer for placement in the menu bar")
        
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Add</button>
    </div>
  </div>
}
</div>


}

